
<div class="pregame_left_nav_bar">
	<ol id= "pregame_options">	
		<li id= "test_1"><a href="/games/new">Create Game</a></li>
		<li><a href="/games/list">Join Game</a></li>
		<li><a href="">Select Game</a></li>
		<li><a href="">Player Profile</a></li>
	</ol>
</div>
