
<div class="pregame_left_nav_bar">
	<ol id= "pregame_options">	
		<li class= "left_links"><a href="/games/new">Create Game</a></li>
		<li class= "left_links"><a href="/games/list">Join Game</a></li>
		<li><a href="">Select Game</a></li>
		<li class= "left_links"><a href="/user/:user_id">Player Profile</a></li>
	</ol>
</div>
