<head><titile>Open Games to Join</title></head>
	<fieldset>
		<legend align="center">Game Listings</legend>

		<ul>
			<% @games.each do |game| %>
			<li><a href="/<% game.id %>"><%= game.name %></a></li>
			<%end%>
		</ul>


	</fieldset>
