<title>New Game Information</title> 
<fieldset>
	<legend align="center">Game Information</legend>
	<form action="/games" method="POST" name="New Game Info">
		<label for="game_name">Game Name:</label>   <input type="text" name="game_name" id="game_name">
		<br>
		<label for="number_of_players">Number of Players:</label>    	
		<select align="5">
			<% Game::NUM_PLAYERS.each do |num| %>
				<option><%= num %></option>
				<% end %>
			<!-- <option>2</option>
			<option>3</option>
			<option>4</option> -->
		</select><br>
		<label for="size">Game Size:</label>    	
		<select align="5">
			<% Game::SIZES.each do |size| %>
			<option><%= size %></option>
			<% end %>
		</select><br>
		<input type='submit' value="Let's do this!" id="start_game">
	</form><br>
</fieldset><br>