<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- 
      normalize.css removes cross-browser differences in defaults, e.g.,
      differences in how form elements appear between Firefox and IE
      See: http://necolas.github.com/normalize.css/
    -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!--
      application.css is where you put your styles
    -->
    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
    <title></title>
  </head>
  <body>

    <div class='header'>
      <div class='nav'>
        <div id='nav-title'><a href="/">Space - H</a></div>
        <%if current_user%>
        <a href='/logout'>Logout</a>
        <a href="/user/<%=current_user.id%>">Welcome <%=current_user.username.capitalize%>!</a>


        <%else%>
        <a href='/login'> Login &bull; Sign up</a>
        <%end%>
      </div>
    </div>

    <%= conditional_left_side_nav %>

    <%= yield %>

  </body>
</html>

